<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="50" layout-xs="column" layout="row">
        <a ui-sref='index.logticket'>
            <md-card md-theme='dark-grey' class='custom_card'>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Tickets</span>
                        <span class="md-subhead">Log new ticket</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">
                    <md-card-actions layout="column">
                        <img src="/images/telemarketer.svg" width="224" height="224">
                    </md-card-actions>
                </md-card-content>
            </md-card>
        </a>
        <a ui-sref='index.tickets'>
            <md-card md-theme='dark-grey' class='custom_card'>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Follow-up</span>
                        <span class="md-subhead">Track existing ticket</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">
                    <md-card-actions layout="column">
                        <img src="/images/speech-bubbles.svg" width="224" height="224">
                    </md-card-actions>
                </md-card-content>
            </md-card>
        </a>
    </div>
</md-content>
<!-- http://www.flaticon.com/packs/color-communication -->
<!-- http://www.flaticon.com/packs/ecommerce-compilation -->
